html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
.wrap {
	width: 80%;
	margin: 0px auto;
}
/* start header */
.header_bg{
	background: #330044;
}
.header{
	padding: 2% 4%;
}
.logo{
	float: left;
}
.logo h1 a{
	display: block;
}
.h_right{
	position:relative;
	float: right;
}
.menu{
	float: left;
	margin-right: 40px;
}
.menu li{
	float: left;
	margin-right: 10px;
}
.menu li.active a,.menu li a:hover{
	color: #FFFF00;
}
.menu li a{
	font-size: 1.25em;
	color: #ffffff;
	text-transform: uppercase;
	font-family: '华文中宋';
	margin:0px 20px;
	font-weight: 300;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.container { 
	position: relative; 
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;	
}
#filters {
	margin:3% 1%;
	padding:0;
	list-style:none;
}
#filters li {
	float:left;
}
.header-1{
	width: 80%;
	margin: 0px auto;
}
.footer-bottom{
	background: #330044;
	padding:2% 0;
}
.portfolio-wrapper  a span img{
	width:40px;
	height:40px;
}
.gallerylist-wrapper  a{
	display:block;
}

.gallerylist-wrapper a:hover span{
	opacity: 1;	
}
.gallerylist-wrapper  a span img{
	width:40px;
	height:40px;
}
.typo1 {
	position:relative; 
	width:100%; 
	height:100%; 
	padding: 5% 0;
}
.portfolio-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index:0;
}
#portfolio .section-title .small-caption,
#portfolio .section-title .big-caption {
	color:#fff;
	font-size:20px;
	margin:0 0 10px;
	text-align:center;
}
/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
  list-style:none;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

#container {
  margin:0 auto 40px;
}

.element {
  width: 280px;
  height: 252px;
  float: left;
  overflow: hidden;
  position: relative;
  margin:7.5px;
}

/**** Example Options ****/

#options {
	text-align:center;
	margin:20px 0;
}
#options ul {
  margin: 0;
  list-style: none;
  display:inline-block;
}

#options li {
  float: inline-block;
}

#options li a {
  	display: block;
	color: #ffffff;
	font-size: 1em;
	font-weight: 300;
	cursor: pointer;
	text-align: center;
	padding: 10px 15px;
	margin-right: 5px;
	background: #660033;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
#nivo-lightbox-demo a {
	padding: 5px 10px;
	border: 2px solid #ff0000;
	border-radius: 2em;
	color: #ff0000;
}
 #options li a:hover {
 background: #ff3333;
}
#options li.active {
 background: #ff3333;
}
.grid figure {
	margin: 0;
	position: relative;
	text-align:center;
}

.grid figure img {
	width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	background: #0000FF;
	color: #fff;
}
.grid figcaption h3 {
	margin: 20px 0 5px;
	padding: 0;
	color: #fff;
	font-size:16px;
	line-height:18px;
}
.grid figcaption h3 a {
	color:#fff;
}

.grid figcaption .meta-box {
	color:#fff;
}
.grid figcaption span a {
	font-size:14px;
	color:#fff;
}
.grid figcaption span a:hover {
	color:#fff;
}

.grid figcaption footer {
	position:absolute;
	bottom: 46px;
	text-align:center;
	width:100%;
}
.cs-style-5 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-5 figure:hover img,
.cs-style-5 figure.cs-hover img {
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	-ms-transform: scale(0.4);
	transform: scale(0.4);
}
